{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": ["flowtype"],
  "rules": {
    "no-unused-vars": 1,
    "react/prop-types": 0,
    "react/no-unused-prop-types": 0
  }
}
